*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    scroll-behavior:smooth;
}

body{

    font-family:var(--font-family-base);
    font-size:var(--font-size-base);
    color:var(--color-text-main);
    background:var(--background-color);
    line-height:1.6;

}

img{
    display:block;
    max-width:100%;

}

button{
    font:inherit;
    cursor:pointer;

}

a{
    text-decoration:none;
    color:inherit;

}

ul{
    list-style:none;

}

html,
body {
    overflow-x: hidden;
}