:root {

  /* ========= COLORS ========= */

  --primary-color: #12263A;
  --secondary-color: #E6F14A;
  --background-color: #0F172A;
  --sunflower: #FFBC42;
  --midnight-violet: #2C0E37;
  --beige: #EBEBD3;
  --white: #ffffff;
  --gray-light: #f1f3f5;
  --gray-border: #e9ecef;
  --color-accent-yt: #E11D48;
  --color-accent-gh: #6366F1;
  --color-bg-light: #F8FAFC;
  --color-card-bg: #FFFFFF;
  --color-text-main: #334155;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-input-bg: #F1F5F9;

  /* ========= TYPOGRAPHY ========= */

  --nav-font: "Play", sans-serif;
  --heading-font: "Play", sans-serif;
  --font-family-base:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;

  --font-size-base:16px;
  --font-size-lg:1.25rem;

  /* ========= EFFECTS ========= */

  --radius:4px;
  --shadow-sm:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --shadow-md:
      rgba(0,0,0,.16) 0 3px 6px,
      rgba(0,0,0,.23) 0 3px 6px;
  --shadow-hover:
      0 10px 15px -3px rgba(0,0,0,.1),
      0 4px 6px -2px rgba(0,0,0,.05);
  --transition-smooth:
      all .3s cubic-bezier(.4,0,.2,1);

}